     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
     * {
         padding: 0;
         margin: 0;
         box-sizing: border-box;
     }
     
     img {
         display: block;
     }
     
     body {
         font-family: Nunito, sans-serif;
         font-size: 1.2em;
     }
     /* header*/
     
     header {
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
         padding: 0px;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #fff;
     }
     
     .titulo {
         position: absolute;
         top: 50px;
     }
     
     .titulo h1 {
         margin-left: 80px;
         font-size: 3em;
         color: aliceblue;
     }
     
     .titulo2 {
         position: absolute;
         top: 800px;
         white-space: pre-line;
     }
     
     .titulo2 h2 {
         margin-left: 80px;
         font-size: 2.5em;
         color: #fff;
     }
     
     .navbar1 {
         position: absolute;
         margin-left: 1300px;
         top: 50px;
     }
     
     header nav a {
         text-decoration: none;
         color: #fff;
         padding: 20px;
     }
     /*main*/
     
     .informacion {
         min-height: 450px;
         width: 70%;
         margin: auto;
         padding: 30px;
         text-align: center;
     }
     
     section article {
         display: inline-block;
         width: 310px;
         margin: 42px 0px 0px 42px;
         padding: 15px;
         white-space: pre-line;
     }
     
     article img {
         display: inline-block;
     }
     
     .etiqueta {
         color: rgb(63, 59, 59);
     }
     /*main2*/
     
     .informacion2 {
         min-height: 600px;
         text-align: center;
         width: 70%;
         margin: auto;
     }
     
     div article {
         display: inline-block;
         width: 310px;
         margin: 10px 0px 0px 42px;
         box-shadow: 0px 0px 5px rgb(223, 216, 216);
         transition: 200ms;
     }
     
     .informacion2 article:hover {
         box-shadow: 0px 0px 10px #d6d6d6;
     }
     
     .imagen1 {
         display: flex;
         height: 200px;
         width: 310px;
         margin-top: 0px;
     }
     
     .texto {
         display: flex;
         margin-top: 20px;
         padding-left: 10px;
         font-size: 25px;
         color: rgb(63, 59, 59);
         justify-content: left;
         font-weight: bold;
     }
     
     .parrafo {
         display: flex;
         margin-top: 10px;
         padding-left: 10px;
         text-align: start;
     }
     
     .precio {
         display: flex;
         color: rgb(134, 197, 70);
         margin-top: 10px;
         padding: 10px;
         font-weight: bold;
         font-size: 25px;
     }
     
     .icono {
         display: inline-block;
         margin: 0px 20px 0px 20px;
         justify-content: space-evenly;
     }
     
     .numero {
         display: flexbox;
         flex-direction: row;
     }
     
     article button {
         display: inline-block;
         width: 250px;
         font-size: 18px;
         font-weight: bolder;
         margin-bottom: 10px;
         color: #fff;
         text-align: center;
         background-color: rgb(212, 133, 14);
         padding: 5px;
     }
     
     .btngeneral {
         display: inline-block;
         margin-left: 1200px;
         width: 230px;
     }
     
     .btngeneral button {
         float: right;
         width: 148px;
         padding: 8px;
         font-size: 16px;
         font-weight: bolder;
         color: #fff;
         background-color: rgb(94, 128, 33);
         margin-bottom: 10px;
     }
     /*footer*/
     
     footer section {
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
         margin-top: 70px;
         padding: 0px;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     
     .footerp {
         position: absolute;
         white-space: pre-line;
     }
     
     .footerp1 {
         font-size: 3em;
         color: #fff;
     }
     
     .footerp2 {
         font-size: 1.5em;
         font-weight: bold;
         color: #fff;
     }
     
     footer button {
         width: 148px;
         padding: 8px;
         margin-top: 50px;
         font-size: 16px;
         font-weight: bolder;
         color: #fff;
         background-color: rgb(212, 168, 21);
     }
     
     .menunav {
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
         margin-top: 0px;
         padding: 0px;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     
     footer nav {
         display: inline-block;
         height: 70px;
         width: 1920px;
         background-color: rgb(53, 53, 61);
     }
     
     footer nav a {
         color: #fff;
         text-decoration: none;
         padding: 10px;
     }
     
     .diseño {
         float: right;
     }